langgraph

langchain
langchain-core
langchain-community
langchain-groq

groq

faiss-cpu

sentence-transformers

rank-bm25

PyMuPDF

SQLAlchemy

faker

python-dotenv

pydantic

numpy

pandas

reportlab

langchain-huggingface

pypdf

langchain-text-splitters

streamlit